.note {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

.note__container {
	width: 200px;
	height: 150px;
	background-color: var(--default-note);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-wrap: break-word;

	cursor: pointer;
	overflow-y: auto;
	transition: transform 0.2s;
}

.note__container:hover {
	transform: scale(1.05);
}

.note__text {
	padding: 10px;

}

.note__container::-webkit-scrollbar {
	display: none;
}

.note__text {
	height: 130px;
	text-align: center;
	line-height: 1.4;
	padding: 15px;
	font-weight: 600;
}

.delete-button {
	color: var(--delete-red);
	border: none;
	cursor: pointer;
	font-weight: 800;
}

.delete-button:hover {
	color: var(--secondary-red);
}
