.board {
	background-color: #f0f0f0;
	margin-top: 30px;
	padding: 15px;
	border-radius: 15px;
	min-width: 230px;
	min-height: 180px;

	box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.27);

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
}

@media (max-width: 1200px) {
	.board {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 900px) {
	.board {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 600px) {
	.board {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.board {
		grid-template-columns: 1fr;
	}
}
