.board {
	width: 300px;
	height: 400px;
	border: 2px solid var(--border-color);
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--secondary-color);
	color: var(--text-color);
	overflow: hidden;
}

.board__header {
	z-index: 1;
	padding-top: 5px;
}

.board__title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 5px;
	text-align: center;
}

.board__content {
	width: 100%;
	margin: 0px 1px;
	flex: 1;

	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #2c3e50 transparent;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	width: 250px;
	height: 1px;
	background-color: var(--text-color);
	margin-bottom: 10px;
	z-index: 1;
}
