.item {
	width: 260px;
	border: 1px solid var(--border-color);
	padding: 10px 5px;
	border-radius: 6px;
	margin: 2px 0;
	cursor: grab;
	background-color: var(--main-color);
	color: var(--text-color);

	display: grid;
	grid-template-columns: 1fr 8fr;
	align-items: center;
}

.text {
	padding: 0px 5px;
	word-break: break-all;
}

.item:hover {
	scale: 1.02;
	transition: all 0.3s ease-in-out;
	color: #fff;
}

